canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;  
  width: 100vw;
  height: 100vh;
  z-index: 9999;         
  background-color: transparent;
  display: block;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
.text-box{
z-index: 10000;
font-size: 100px;
font-family:Georgia, 'Times New Roman', Times, serif;
position:absolute;
top: 50%;
left:50%;
transform: translate(-50%,-50%);
}
.text-box2 p{
color: #ffffff;
z-index: 10000;
font-size: 30px;
font-family: 'Parisienne', cursive;
position:absolute;
bottom: 30%;
left: 50%;
transform: translate(-50%,-50%);
text-shadow: red;
}
span{
    display:inline-block;
    font-weight:bolder;
    animation: move 2s ease-in-out infinite;
    color:#ffffff;

}
@keyframes move{
0%{ 
    text-shadow: 0 0 80px rgba(255, 0, 0, 0);
}
50%{ 
    text-shadow: 0 0 80px rgba(255, 0, 0, 0.3);
    transform:translateY(40px);
}
100%{ 
    text-shadow: 0 0 80px rgba(255, 0, 0, 0);
  }
}
span:nth-child(1)
{
    animation-delay: 0.1s;
}
span:nth-child(2)
{
    animation-delay: 0.2s;
}
span:nth-child(3)
{
    animation-delay: 0.3s;
}
span:nth-child(4)
{
    animation-delay: 0.4s;
}
span:nth-child(5)
{
    animation-delay: 0.5s;
}
span:nth-child(6)
{
    animation-delay: 0.6s;
}
span:nth-child(7)
{
    animation-delay: 0.7s;
}
span:nth-child(8)
{
    animation-delay: 0.8s;
}
.text-box span {
  will-change: transform, opacity;
  position: relative;
  display: inline-block;
  font-size: 100px;
  font-weight: bold;
  font-family: monospace;
  color: white;
  transition: all 0.1s ease;
}

.text-box span::before,
.text-box span::after {
  content: attr(data-char);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 0);
}

.text-box span:hover::before {
  animation: glitchTop 0.3s infinite;
  opacity: 1;
  color: rgb(255, 255, 255);
}

.text-box span:hover::after {
  animation: glitchBottom 0.3s infinite;
  opacity: 1;
  color: rgb(255, 0, 0);
}

@keyframes glitchTop {
  0% { transform: translate(0px, 0px); }
  20% { transform: translate(-2px, -2px); }
  40% { transform: translate(2px, -1px); }
  60% { transform: translate(-1px, 1px); }
  80% { transform: translate(1px, -2px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes glitchBottom {
  0% { transform: translate(0px, 0px); }
  20% { transform: translate(2px, 2px); }
  40% { transform: translate(-2px, 1px); }
  60% { transform: translate(1px, -1px); }
  80% { transform: translate(-1px, 2px); }
  100% { transform: translate(0px, 0px); }
}
