<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Implying</title>  
  <link rel="stylesheet" href="header.css">
  <link rel="icon" type="image/x-icon" href="https://sdmntprnorthcentralus.oaiusercontent.com/files/00000000-32d8-622f-af85-b3ecab54e7a4/raw?se=2025-07-26T23%3A35%3A20Z&sp=r&sv=2024-08-04&sr=b&scid=743acd35-00c7-58df-aabf-7905b8b83b54&skoid=9ccea605-1409-4478-82eb-9c83b25dc1b0&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-07-26T22%3A30%3A34Z&ske=2025-07-27T22%3A30%3A34Z&sks=b&skv=2024-08-04&sig=RADlU6gufGUVgl7VLcTp7a0vK5uEXIBq0k24iemL5Cs%3D">
</head>
    <body style="background-color: rgba(216, 215, 215, 0.719);">
<div class="text-box">
<span data-char="I">I</span>
<span data-char="M">M</span>
<span data-char="P">P</span>
<span data-char="L">L</span>
<span data-char="Y">Y</span>
<span data-char="I">I</span>
<span data-char="N">N</span>
<span data-char="G">G</span>
</div>
<style> .grow-on-hover{
  transition: transform 0.2s ease;
  transform: translateX(-50%);
}
.grow-on-hover:hover{
  transform: translateX(-50%) scale(1.2);
}
</style>
<a href="https://www.instagram.com/implying/" target="_blank">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/500px-Instagram_icon.png" 
  class="grow-on-hover"
  style=
  "position: fixed; 
  z-index: 10000; 
  bottom: 20px; 
  left: 50%;
  height:auto;
  width: 40px;
  cursor: pointer;
  ">
</a>

 <canvas id="canvas"></canvas>
<script src="cursor.js"></script>
    </body>
</html>
