*{
    margin: 0;
    padding: 0;
}
.text-box{
font-size: 100px;
font-family:Georgia, 'Times New Roman', Times, serif;
position:absolute;
top: 50%;
left:50%;
transform: translate(-50%,-50%);
}
span{
    display:inline-block;
    font-weight:bolder;
    animation: move 2s ease-in-out infinite;
    color:#fff;

}
@keyframes move{
0%{ 
    text-shadow: 0 0 30px rgba(180, 0, 0, 0);
}
50%{ 
    text-shadow: 0 0 30px rgba(180, 0, 0, 0.3);
    transform:translateY(40px);
}
100%{ 
    text-shadow: 0 0 30px rgba(180, 0, 0, 0);
  }
}
span:nth-child(1)
{
    animation-delay: 0.1s;
}
span:nth-child(2)
{
    animation-delay: 0.2s;
}
span:nth-child(3)
{
    animation-delay: 0.3s;
}
span:nth-child(4)
{
    animation-delay: 0.4s;
}
span:nth-child(5)
{
    animation-delay: 0.5s;
}
span:nth-child(6)
{
    animation-delay: 0.6s;
}
span:nth-child(7)
{
    animation-delay: 0.7s;
}
span:nth-child(8)
{
    animation-delay: 0.8s;
}